layout {
	default_tab_template {
		pane size=1 borderless=true {
			plugin location="zellij:tab-bar"
		}
		children
	}
	tab name="terminal" {
		pane 
	}
	tab name="nvim" {
		pane {
			command "zsh"
			args "-i" "-c" "nvim ."
		}
	}
}
