* {
  font-family: "Jetbrains Mono";
  font-size: 18px;
  font-feature-settings: "liga=0, clig=0, calt=0";
  color: #ffffff;
  background: rgba(24,24,37,1);
  padding: 0px 10px
}

#battery.charging { color: #61afef; }
#battery.full { color: #98c379; }
#battery.full-ish { color: #98c379; }
#battery.mid { color: #e5c07b; }
#battery.need-juice { color: #d19a66; }
#battery.really-need-juice { color: #e86671; }
